body {
  background: #F5F5F5;
}

table {
  border: 1px solid #CDCDCD;
  background: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: 'Raleway', sans-serif;
}

p,
caption,
th,
td {
  color: #444;
}

p,
th,
td {
  font-family: sans-serif;
  font-size: 0.9em;
}

caption {
  background: #CCC;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  padding: 0.4em;
}

th {
  text-align: left;
  padding: 8px;
}

td {
  border-top: 1px solid #DBF8FF;
  padding: 10px;
}

div {
  margin: 0.5em;
}

.page {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0 0 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.msg-all {
  border-radius: 6px;
  color: #FFF;
  margin: 10px 0;
  padding: 6px 10px;
}

.blue {
  background-color: #18a2c9;
}

.blueLighter {
  background-color: #89daf1;
}

.blueLight {
  background-color: #2ebde6;
}

.blueDark {
  background-color: #137d9b;
}

.blueDarker {
  background-color: #083440;
}

.green {
  background-color: #28c262;
}

.greenLighter {
  background-color: #99eab8;
}

.greenLight {
  background-color: #44d97c;
}

.greenDark {
  background-color: #1f984d;
}

.greenDarker {
  background-color: #0e4322;
}

.red {
  background-color: #ff4747;
}

.redLighter {
  background-color: #ffe0e0;
}

.redLight {
  background-color: #ff7a7a;
}

.redDark {
  background-color: #ff1414;
}

.redDarker {
  background-color: #ad0000;
}

.yellow {
  background-color: #ffe338;
  color: #222;
}

.yellowLighter {
  background-color: #fff9d1;
}

.yellowLight {
  background-color: #ffea6b;
}

.yellowDark {
  background-color: #ffdc05;
}

.yellowDarker {
  background-color: #9e8800;
}

.orange {
  background-color: #e88c47;
}

.orangeLighter {
  background-color: #f9e1cf;
}

.orangeLight {
  background-color: #eea874;
}

.orangeDark {
  background-color: #e0701c;
}

.orangeDarker {
  background-color: #854311;
}

.pop-out {
  position: relative;
}

.pop-out:before, .pop-out:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.pop-out:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
