@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\000037}}
body {
  background: #F5F5F5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000311}}
table {
  border: 1px solid #CDCDCD;
  background: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000316}}
caption {
  font-family: 'Schoolbell', arial;
  font-size: 1.4em;
  color: #555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000322}}
th {
  text-align: left;
  padding: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000327}}
td {
  border-top: 1px solid #DBF8FF;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000332}}
div {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000336}}
.page {
  margin-left: 20px;
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000341}}
.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0 0 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000351}}
.msg-all {
  border-radius: 6px;
  color: #FFF;
  margin: 10px 0;
  padding: 6px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000358}}
.msg {
  background-color: #18a2c9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000362}}
.success {
  background-color: #28c262;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000366}}
.error {
  background-color: #ff4747;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000370}}
.warning {
  background-color: #ffe338;
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000375}}
.system {
  background-color: #e88c47;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000382}}
.pop-out {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\0000385}}
.pop-out:before, .pop-out:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/color-palette\/scss\/layout\.scss}line{font-family:\00003105}}
.pop-out:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
