//Overall styles for page layout


//importing color vairbles form varibles.scss
@import "variables";
@import "mixins";

body {
	background: #F5F5F5;
} 

table {
	border: 1px solid #CDCDCD;
	background: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: 'Raleway', sans-serif;
}


p,
caption,
th,
td {
  color: #444;
}

p,
th,
td {
  font-family: sans-serif;
  font-size: 0.9em;
}

caption {
  background: #CCC;
  font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
  padding: 0.4em;
}

th {
	text-align: left;
	padding: 8px;
}

td {
	border-top: 1px solid #DBF8FF;
	padding: 10px;
}

div {
  margin: 0.5em;
}

.page {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.swatch {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 4px 0 0 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.msg-all {
	border-radius: 6px;
	color: #FFF;
	margin: 10px 0;
	padding: 6px 10px;
}

.white {
  @include background-color($white);
  border: 1px solid #D7D8DB;
}

.greyLighter {
  @include background-color($greyLighter);
}

.greyLight {
  @include background-color($greyLight);
}

.grey {
  @include background-color($grey);
}

.greyDark {
  @include background-color($greyDark);
}

.greyDarker {
  @include background-color($greyDarker);
}

.black {
  @include background-color($black);
}

.blue {
  @include background-color($blue);
}

.blueLighter {
  @include background-color($blueLighter);
}

.blueLight {
  @include background-color($blueLight);
}

.blueDark {
  @include background-color($blueDark);
}

.blueDarker {
  @include background-color($blueDarker);
}

.green {
  @include background-color($green);
}

.greenLighter {
  @include background-color($greenLighter);
}

.greenLight {
  @include background-color($greenLight);
}

.greenDark {
  @include background-color($greenDark);
}

.greenDarker {
  @include background-color($greenDarker);
}

.red {
  @include background-color($red);
}

.redLighter {
  @include background-color($redLighter);
}

.redLight {
  @include background-color($redLight);
}

.redDark {
  @include background-color($redDark);
}

.redDarker {
  @include background-color($redDarker);
}

.yellow {
  @include background-color($yellow);
  color: #222;
}

.yellowLighter {
  @include background-color($yellowLighter);
}

.yellowLight {
  @include background-color($yellowLight);
}

.yellowDark {
  @include background-color($yellowDark);
}

.yellowDarker {
  @include background-color($yellowDarker);
}

.orange {
  @include background-color($orange);
}

.orangeLighter {
  @include background-color($orangeLighter);
}

.orangeLight {
  @include background-color($orangeLight);
}

.orangeDark {
  @include background-color($orangeDark);
}

.orangeDarker {
  @include background-color($orangeDarker);
}

//Effects
.pop-out
{
  position: relative;
}
.pop-out:before, .pop-out:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  @include transform(-3deg);
}

.pop-out:after {
  @include transform(3deg);
  right: 10px;
  left: auto;
}