//Colors Palette colors Only

$blue: #18A2C9;
$blueLighter: lighten($blue, 30%);
$blueLight: lighten($blue, 10%);
$blueDark: darken($blue, 10%);
$blueDarker: darken($blue, 30%);
$green: #28C262;
$greenLighter: lighten($green,30%);
$greenLight: lighten($green, 10%);
$greenDark: darken($green, 10%);
$greenDarker: darken($green,30%);
$red: #FF4747;
$redLighter: lighten($red, 30%);
$redLight: lighten($red, 10%);
$redDark: darken($red, 10%);
$redDarker: darken($red, 30%);
$yellow: #FFE338;
$yellowLighter: lighten($yellow, 30%);
$yellowLight: lighten($yellow, 10%);
$yellowDark: darken($yellow, 10%);
$yellowDarker: darken($yellow, 30%);
$orange: #E88C47;
$orangeLighter: lighten($orange, 30%);
$orangeLight: lighten($orange, 10%);
$orangeDark: darken($orange, 10%);
$orangeDarker: darken($orange, 30%);
