//Colors Palette colors Only

$blue: #18A2C9;
$blueLighter: lighten($blue, 30%);
$blueLight: lighten($blue, 10%);
$blueDark: darken($blue, 10%);
$green: #28C262;
$greenLight: lighten($green, 10%);
$greenDark: darken($green, 10%);
$red: #FF4747;
$redLight: lighten($red, 10%);
$redDark: darken($red, 10%);
$yellow: #FFE338;
$yellowLight: lighten($yellow, 10%);
$yellowDark: darken($yellow, 10%);
$orange: #E88C47;
$orangeLight: lighten($orange, 10%);
$orangeDark: darken($orange, 10%);
